{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Gallery</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
         <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/mainhtml/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/mainhtml/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/mainhtml/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/mainhtml/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/mainhtml/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/mainhtml/assets/css/main.css" rel="stylesheet">

       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>

<body>

<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1><img src="static/mainhtml/assets/img/foxdale/foxdalenavbar.jpg"></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'mainapp:home' %}#home">Home</a></li>
          <li><a href="{% url 'mainapp:home' %}#about">About</a></li>
          <li><a href="{% url 'mainapp:home' %}#premium">Premium Templates</a></li>
          <li><a href="#footer">Contact</a></li>
          <li><a href=""></a></li>
            <form class="d-flex" role="search" method="get" action="{% url 'mainapp:morenormal' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </ul>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href="{% url 'login:signin' %}">Login</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>

<div class="container" style="margin-top:150px;">
   <div class="row">
       {% if query %}
       {% for s in search %}
       <div class="col-md-4">
           <div class="card" style="width:360px;margin:30px;">
               <a href="{% url 'mainapp:temp_view' s.id %}">
               <img src="{{s.temp_img.url}}" class="card-img-top" alt="..." >
                </a>
           </div>
       </div>
       {% endfor %}
       {% else %}
       {% for n in normal %}
       <div class="col-md-4">
            <div class="card" style="width:360px;margin:30px;">
                <a href="{% url 'mainapp:temp_view' n.id %}">
                    <img src="{{n.temp_img.url}}" class="card-img-top" alt="..." >
                </a>
            </div>
       </div>
       {% endfor %}
       {% endif %}
   </div>
</div>

<!--<div class="mx-auto">-->
<!--    {% if normal.paginator.num_pages > 1 %}-->
<!--    <hr>-->
<!--    <div class="text-center">-->
<!--        {% for pg in normal.paginator.page_range %}-->
<!--        <a href="?page={{pg}}" class="btn btn-dark btn-md text-light {% if normal.number == pg %} active {% endif %}">{{pg}}</a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% endif %}-->
<!--</div>-->


    <footer id="footer" class="footer" style="margin-top:30px;">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div>
                        <h4>Address</h4>
                        <p>
                          A108 Adam Street <br>
                          New York, NY 535022 - US<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Reservations</h4>
                        <p>
                          <strong>Phone:</strong> +1 5589 55488 55<br>
                          <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>Opening Hours</h4>
                        <p>
                        <strong>Mon-Sat: 11AM</strong> - 23PM<br>
                        Sunday: Closed
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Foxdale</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">Foxdale</a>
            </div>
        </div>
    </footer>


</body>
</html>